$font-default: 'Roboto', sans-serif;

$font-size-xxxxl: 3rem;
$font-size-xxxl: 2rem;
$font-size-xxl: 1.5rem;
$font-size-xl: 1.25rem;
$font-size-lg: 1.125rem;
$font-size-md: 1rem;
$font-size-sm: 0.875rem;
$font-size-xs: 0.75rem;
$font-size-xxs: 0.5rem;

$icon-font-size-lg: 1.5rem;
$icon-font-size-md: 1rem;
$icon-font-size-sm: 0.875rem;
$icon-font-size-xs: 0.75rem;

$font-weight-black: 900;
$font-weight-bolder: 700;
$font-weight-bold: 600;
$font-weight-regular: 500;
$font-weight-light: 400;
$font-weight-extra-light: 300;

$line-height-xxxl: 2.5625rem;
$line-height-xxl: 1.9375rem;
$line-height-xl: 1.75rem;
$line-height-lg: 1.5rem;
$line-height-md: 1.25rem;
$line-height-sm: 1.125rem;
$line-height-xs: 1rem;
$line-height-xxs: 0.875rem;
