@import '../theme/colors.scss';
@import '../theme/spacing.scss';
@import '../theme/fonts.scss';
@import '../theme/variables.scss';

.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  max-width: $breakpoint-md;
  width: 100%;
  height: 50px;
  border-radius: 100px;
  border: 2px solid $color-black;
  padding: 0 spacer(3);
  margin: 0 auto;
  .icon {
    display: block;
    width: 25px;
    margin-right: spacer(3);
  }
  .input {
    width: 100%;
    font-size: $font-size-xxl;
    border: none;
    outline: none;
  }
}
