@import '../theme/fonts.scss';
@import '../theme/spacing.scss';
@import '../theme/colors.scss';

.gridWrapper {
  margin-top: spacer(3);
}

.noMoreProducts {
  font-size: $font-size-xl;
  text-align: center;
  color: $color-primary;
}

.status {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
}
