@import "../theme/shadows.scss";
@import "../theme/colors.scss";
@import "../theme/spacing.scss";
@import "../theme/fonts.scss";

.productCard {
  position: relative;
  width: 250px;
  height: 350px;
  border: 1px solid $color-border;
  border-radius: spacer(2);
  background-color: $color-background;
  transition: all 0.5s;

  &:hover {
    box-shadow: $shadow-hover;
    .productCard__image {
      transform: scale(120%);
    }
    .productCard__head {
      figcaption {
        h3 {
          font-size: $font-size-xxl;
          text-decoration: underline;
          &::after {
            opacity: 1;
          }
        }
      }
    }
  }
  &__head {
    height: 180px;
    width: 100%;
    overflow: hidden;
    border-top-left-radius: spacer(2);
    border-top-right-radius: spacer(2);
    position: relative;
    margin: 0;
  }
  &__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 1s;
  }
}

.bestPrice__icon,
.onSales__icon {
  display: block;
  position: absolute;
  width: 60px;
  height: 60px;
  top: spacer(2);
  right: spacer(2);
  z-index: 2;
}

.productCard__head {
  figcaption {
    position: absolute;
    bottom: spacer(0);
    background-color: $color-black-transparent-07;
    width: 100%;
    h3 {
      position: relative;
      color: $color-white;
      padding: 0.75rem;
      font-size: $font-size-xl;
      transition: all 0.2s;
      &::after {
        content: "→";
        opacity: 0;
      }
    }
  }
}

.productCard__body {
  width: 100%;
  padding: spacer(2);
}

.productCard__info {
  width: 100%;
  height: 50px;
  font-size: $font-size-md;
  line-height: $line-height-lg;
  color: $color-primary;
  overflow-y: auto;
  border-bottom: 1px solid $color-primary;
  &::-webkit-scrollbar-track {
    border-radius: spacer(2);
    background-color: $color-background;
  }
  &::-webkit-scrollbar {
    width: spacer(2);
    border-radius: spacer(2);
    background-color: $color-background;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: spacer(2);
    background-color: $color-primary;
  }
}

.productPrice {
  text-align: center;
  border-bottom: 1px solid $color-primary;
}

.productPrice__current {
  font-size: $font-size-xxxl;
  &.sales {
    color: $color-highlited;
  }
  &.goodPrice {
    color: $color-highlited;
  }
}

.productPrice__prev {
  text-decoration: line-through;
  color: $color-primary;
  font-size: $font-size-xxl;
}

.productCard__button {
  margin-top: spacer(3);
  padding: 12px;
  width: 100%;
  background-color: $color-primary;
  font-size: $font-size-md;
  color: $color-white;
  transition: all 0.1s;
  &:hover {
    background-color: $color-highlited;
    color: $color-white;
  }
  &.disabled {
    background-color: $color-border;
    color: $color-black;
    &:hover {
      background-color: $color-border;
      color: $color-black;
    }
    cursor: not-allowed;
  }
}
